/* src/App.css */
body {
  font-family: Arial, sans-serif;
  background-color: #e0dbdb;
  margin: 0;
  padding: 0;
}

.app-container {
  padding: 30px;
  text-align: center;
}

h1 {
  color: #22265a;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 35px;
  font-weight: 800;
}

button {
  background-color: #92aab3;
  color: rgb(2, 15, 59);
  border: none;
  padding: 10px 16px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;

}

button:hover {
  background-color:  rgb(2, 15, 59);
  color: #ffffff;
}

.coordinates {
  margin-top: 20px;
  color: #363030;
  font-style: italic;
  font-size: 18px;
  
}

.leaflet-container {
  height: 400px;
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.animation-container {
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

